.Entry{
  width: 85%;
  border: 0.08rem solid var(--secondary-color);
  box-sizing: border-box;
  border-radius: 0.2rem;
  padding: 1rem;
  padding-bottom: 3rem;
}

.Entry-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.7rem;
}

.Entry-buttons-child {
  width: 2rem;
  height: 2rem;
  border: 0.08rem solid var(--secondary-color);
  border-radius: 0.12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Entry-buttons-child-icon {
  line-height: 2rem;
  width: 1rem;
  height: 1rem;
}

.Entry-body {
  display: flex;
  padding: 0.2rem 3rem;
  gap: 1rem;
  flex-direction: column;
}

#Entry-date {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25rem;
}

.Entry-questions-container {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  margin-top: 1rem;
}

.Entry-question {
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.35rem;

}