.Header {
  cursor: pointer;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  display: flex;  
  justify-content: flex-end;
}

.Header-child {
  margin: 1.2rem;
}

.Header-child:last-child {
  margin-right: 3rem;
}