:root {
  --primary-color: hsl(40, 100%, 99%);
  --secondary-color: hsl(220, 59%, 65%);
  /* --primary-color: hsl(11, 100%, 99%);
  --secondary-color: hsl(17, 59%, 65%); */
}

/* sets the whole background to be full size of page */
body > #root > div {
  height: 100vh;
}

.Home {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.Home-body {
  padding: 0.65rem 2.5rem;
  display: flex;  
  justify-content: space-between;
  gap: 5rem;
}

.Home-body-child {
  margin: 1.3rem;
}

.Home-body-child:last-child {
  margin-right: 2.5rem;
}
