.Entry{
  width: 85%;
  border: 0.08rem solid var(--secondary-color);
  box-sizing: border-box;
  border-radius: 0.2rem;
  padding: 1rem;
  padding-bottom: 3rem;
}

.Entry-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.7rem;
}

.Entry-buttons-child {
  width: 2rem;
  height: 2rem;
  border: 0.08rem solid var(--secondary-color);
  border-radius: 0.12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Entry-buttons-child-icon {
  line-height: 2rem;
  width: 1rem;
  height: 1rem;
}

.Entry-body {
  display: flex;
  padding: 0.2rem 3rem;
  gap: 1rem;
  flex-direction: column;
}

#Entry-date {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25rem;
}

.Entry-questions {
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.35rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Entry-question-input {
  background-color: var(--primary-color);
  border: 0.08rem solid var(--secondary-color);
  width: 100%;
  height: auto;
  min-height: 4rem;
}

input:focus{
  outline: none;
  resize: none;
}